{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <div id="heading" class="invisible">
            <div id="menu-button" class="invisible">
                <button id="MBtn">MBtn</button>
            </div>
            <div id="logo">
                LOGO
            </div>
            <div id="header-spacing"></div>
            <div id="contact-bar">
                contact: 111-222-333  &#9400; 2018 Marcin Krawczyk. All Rights Reserved.
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="menu" class="invisible">
        </div>
        <div id="content" class="invisible">
            <div id="photos">
                <div id="grid-container">
                    {% for i in 1..30 %}
                       <div id="grid-item">
                           {{ i }}
                       </div>
                    {% endfor %}
                </div>
            </div>
         </div>
         <div style="clear: both;"></div>
     </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    
    {# common scripts and css #}
    <script src="{{ asset('build/app.js') }}"></script>
    
    {# page specific scripts #}
    <script src="{{ asset('build/homepage.js') }}"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
            let MBtn = document.getElementById("MBtn");
            
            // initial configuration
            function init() {
                
                let heading = document.getElementById("heading");
                let menuButton = document.getElementById("menu-button");
                let MBtn = document.getElementById("MBtn");                
                let logo = document.getElementById("logo");
                let headerSpacing = document.getElementById("header-spacing");
                let contactBar = document.getElementById("contact-bar");
                let menu = document.getElementById("menu");
                let content = document.getElementById("content");
                let gridContainer = document.getElementById("grid-container");
                let windowWidth = window.innerWidth;
                
                if (windowWidth > 740) {
                    
                    // header
                    heading.classList.add("heading-normal");
                    heading.classList.remove("invisible");
                    
                    MBtn.disabled = true;
                    logo.classList.add("col-2");
                    headerSpacing.classList.add("col-1");
                    contactBar.classList.add("col-9");
                    
                    // content
                    menu.classList.add("col-3");
                    menu.classList.add("menu-config");
                    menu.classList.remove("invisible");
                    
                    pasteMenuContent(menu);
                    
                    content.classList.add("col-9");
                    content.classList.remove("invisible");
                    
                    switchOrAddGridClasses(gridContainer, "grid-container-3", "grid-item-3");
                    
                } else {
                    
                    // header
                    heading.classList.add("heading-small");
                    heading.classList.remove("invisible");
                    
                    menuButton.classList.add("col-1");
                    menuButton.classList.remove("invisible");
                    logo.classList.add("col-2");
                    headerSpacing.classList.add("col-9");
                    contactBar.classList.add("invisible");
                    
                    // content
                    menu.classList.add("col-0");
                    
                    pasteMenuContent(menu);
                    
                    content.classList.add("col-12");
                    content.classList.remove("invisible");
                    
                    switchOrAddGridClasses(gridContainer, "grid-container-2", "grid-item-2");
                }
            }
            init();

            // on resize browser window
            let onresize = function() {
                
                let heading = document.getElementById("heading");
                let menuButton = document.getElementById("menu-button");
                let MBtn = document.getElementById("MBtn");
                let headerSpacing = document.getElementById("header-spacing");
                let contactBar = document.getElementById("contact-bar");
                let content = document.getElementById("content");
                let gridContainer = document.getElementById("grid-container");
                let windowWidth = window.innerWidth;
                let menu = document.getElementById("menu");
                let menuPop = document.getElementById("menu-pop");

                if (windowWidth > 740) {
                    
                    // header
                    if (String(heading.className.match(/heading-small/g)) === "heading-small") {
                        
                        heading.classList.remove("heading-small");
                        heading.classList.add("heading-normal");
                    }
                    
                    if (String(menuButton.className.match(/invisible/g)) !== "invisible") {
                        
                        menuButton.classList.add("invisible");
                        menuButton.classList.remove("col-1");
                        MBtn.disabled = true;
                    }
                    
                    if (String(headerSpacing.className.match(/col-9/g)) === "col-9") {
                        
                        headerSpacing.classList.remove("col-9");
                        headerSpacing.classList.add("col-1");
                    }
                    
                    if (String(contactBar.className.match(/invisible/g)) === "invisible") {
                        
                        contactBar.classList.remove("invisible");
                        contactBar.classList.add("col-9");
                    }
                      
                    // content
                    if (menuPop !== null) {

                        content.classList.remove("invisible");
                        menuPop.remove();
                        MBtn.dataset.show = "false";
                    }
                    
                    if (String(menu.className.match(/col-0/g)) === "col-0") {
                        
                        menu.classList.remove("col-0");
                        menu.classList.remove("invisible");
                    }
                    
                    if (String(menu.className.match(/col-12/g)) === "col-12") {
                        
                        menu.classList.remove("col-12");
                    }
                    
                    if (String(menu.className.match(/col-3/g)) !== "col-3") {
                        
                        menu.classList.add("col-3");
                    }
                    
                    if (String(menu.className.match(/menu-config/g)) !== "menu-config") {
                        
                        menu.classList.add("menu-config");
                    }
                    
                    if (String(content.className.match(/col-0/g)) === "col-0") {
                        
                        content.classList.remove("col-0");
                        content.classList.remove("invisible");
                    }
                    
                    if (String(content.className.match(/col-12/g)) === "col-12") {
                        
                        content.classList.remove("col-12");
                    }
                    
                    if (String(content.className.match(/col-9/g)) !== "col-9") {
                        
                        content.classList.add("col-9");
                    }
                    
                    if (String(gridContainer.className.match(/grid-container-2/g)) === "grid-container-2") {
                        
                        switchOrAddGridClasses(gridContainer, "grid-container-3", "grid-item-3");
                    }
                    
                } else {
                    
                    //header
                    if (String(heading.className.match(/heading-normal/g)) === "heading-normal") {
                        
                        heading.classList.remove("heading-normal");
                        heading.classList.add("heading-small");
                    }
                    
                    if (String(menuButton.className.match(/invisible/g)) === "invisible") {
                        
                        menuButton.classList.remove("invisible");
                        menuButton.classList.add("col-1");
                        MBtn.disabled = false;
                    }
                    
                    if (String(headerSpacing.className.match(/col-1/g)) === "col-1") {
                        
                        headerSpacing.classList.remove("col-1");
                        headerSpacing.classList.add("col-9");
                    }
                    
                    if (String(contactBar.className.match(/col-9/g)) === "col-9") {
                        
                        contactBar.classList.remove("col-9");
                        contactBar.classList.add("col-0");
                        contactBar.classList.add("invisible");
                    }
                    
                    // content
                    if (String(menu.className.match(/col-3/g)) === "col-3") {
                        
                        menu.classList.remove("col-3");
                        menu.classList.remove("menu-config");
                        menu.classList.add("col-0");
                        menu.classList.add("invisible");

                        content.classList.remove("col-9");
                        content.classList.add("col-12");
                    }
                    
                    if (String(gridContainer.className.match(/grid-container-3/g)) === "grid-container-3") {
                        
                        switchOrAddGridClasses(gridContainer, "grid-container-2", "grid-item-2");
                    }
                }
            };
            window.addEventListener("resize", onresize);
            
            // click menu button event listener
            MBtn.addEventListener("click", function(){

                let container = document.getElementById("container");
                let content = document.getElementById("content");
                let menuPop = document.getElementById("menu-pop");
                
                if (menuPop === null && MBtn.dataset.show === "false" || MBtn.dataset.show === undefined) {

                    let menuPop = document.createElement('div');
                    menuPop.setAttribute('id', 'menu-pop');
                    menuPop.classList.add("m-open");

                    container.append(menuPop);

                    content.classList.add("invisible");
                    MBtn.dataset.show = "true";
                    
                } else if (menuPop !== null && MBtn.dataset.show === "true") {

                    content.classList.remove("invisible");
                    menuPop.remove();
                    
                    MBtn.dataset.show = "false";
                }
            });
            
            function switchOrAddGridClasses(anchor, gridContainerClassName, gridItemClassName) {
                
                // check if anchor has any grid container class
                // if not, add passed one
                // if has already gridContainerClass, remove old one and switch to passed one
                if (anchor.classList.length === 0) {
                    
                    anchor.classList.add(gridContainerClassName);
                    
                } else if (String(anchor.className.match(/grid-container-3/g)) === "grid-container-3") {
                        
                    anchor.classList.remove("grid-container-3");
                    anchor.classList.add(gridContainerClassName);
                    
                } else if (String(anchor.className.match(/grid-container-2/g)) === "grid-container-2") {
                        
                    anchor.classList.remove("grid-container-2");
                    anchor.classList.add(gridContainerClassName);
                }
                
                // transform variable with anchor's children NodeList elements to Array
                let children = Array.from(anchor.childNodes);
                
                children.forEach(function(item, index){
                    
                    // remove [object Text] elements
                    if(index % 2 !== 0) {
                        
                        // check if child item has any grid item class
                        // if not, add passed one
                        // if has already gridItemClass, remove old one and switch to passed one
                        if (item.classList.length === 0) {

                            item.classList.add(gridItemClassName);

                        } else if (String(item.className.match(/grid-item-3/g)) === "grid-item-3") {

                            item.classList.remove("grid-item-3");
                            item.classList.add(gridItemClassName);

                        } else if (String(item.className.match(/grid-item-2/g)) === "grid-item-2") {

                            item.classList.remove("grid-item-2");
                            item.classList.add(gridItemClassName);
                        }
                    }
                });
            }
                                
            function createAndPasteMenuList(params, anchor) {
                
                let menuList = document.createElement('div');
                menuList.setAttribute('id', 'menu-list');
                    
                let sessionHeader = document.createElement('p');
                sessionHeader.innerHTML = "Sessions";
                
                menuList.appendChild(sessionHeader);
                
                let sessionUnorderedList = document.createElement('ul');
                sessionUnorderedList.setAttribute('id', 'sessions');
                
                for (var i = 0; i < params.length; i++) {
                    
                    let sessionListElement = document.createElement('li');
                    sessionListElement.innerHTML = params[i];
                    
                    sessionUnorderedList.appendChild(sessionListElement);
                }
                
                menuList.appendChild(sessionUnorderedList);
                
                let about = document.createElement('p');
                // add link to redirect
                about.innerHTML = "About";
                
                menuList.appendChild(about);
                
                let contact = document.createElement('p');
                // add link to redirect
                contact.innerHTML = "Contact";
                
                menuList.appendChild(contact);
                
                // add social medias
                
                anchor.append(menuList);
            }
            
            // use it wherever needed
            async function getMenuList(url, anchor) {
                const response = await fetch(url);
                const json = await response.json();
                const listOfSessions = json.map(session => session.name);

                createAndPasteMenuList(listOfSessions, anchor);
            }
            
            function pasteMenuContent(anchor) {
                
                // TO CHANGE AFTER DEPLOY
                let url = "http://localhost:8000/get-sessions";
            
                getMenuList(url, anchor);
            }            
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/homepage_style.css') }}"/>
    
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        #container {

        
        }
        
        #heading {
            
        }
        
        #menu-button {
            padding: 0px;
            background-color: grey;
            float: left;
        }
        
        #MBtn {
        }
        
        #logo {
            padding: 0px;
            background-color: green;
            float: left;
        }
        
        #header-spacing {
            background-color: pink;
            float: left;
        }
        
        #contact-bar {
            background-color: cornflowerblue;
            text-align: right;
            float: left;
        }
        
        .heading-normal {
            height: 110px;
        }
        
        .heading-small {
            height: 60px;
        }
        
        #content {
            background-color: yellow;
            height: auto;
            float: left;
        }
    
        #menu {
            float: left;
        }
        
        .menu-config {
{#            why this shit does not work??#}
            padding: 60px 30px;
            
            height: 800px;
            font-size: 16px;
            line-height: 25px;
        }
        
        #menu-list > p {
            font-weight: bold;
        }
        
        #sessions {
            padding-left: 13px;
            list-style-type: none;
        }
        
        .m-open {
            position: absolute;
            background-color: purple;
            padding: 60px 30px;
            z-index: 1;
            width: 100%;
            height: 1000px;
            left: 0px;
            top: 60px;
        }
        
        #photos {
            
        }
        
        .grid-container-2 {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 70px;
            padding: 20px;
        }
        
        .grid-item-2 {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 40px;
            font-size: 50px;
            text-align: center;
        }
        
        .grid-container-3 {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 50px;
            padding: 10px;
        }
        
        .grid-item-3 {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
        
        .invisible {
            visibility: hidden;
            height: 0px;
        }
        
        .col-0 {
            width: 0%;
        }
        
        .col-1 {
            width: 8.33%;
            padding: 15px;
        }
        
        .col-2 {
            width: 16.66%;
            padding: 15px;
        }
        
        .col-3 {
            width: 25%;
            padding: 15px;
        }
        
        .col-4 {
            width: 33.33%;
            padding: 15px;
        }
        
        .col-5 {
            width: 41.66%;
            padding: 15px;
        }
        
        .col-6 {
            width: 50%;
            padding: 15px;
        }
        
        .col-7 {
            width: 58.33%;
            padding: 15px;
        }
        
        .col-8 {
            width: 66.66%;
            padding: 15px;
        }
        
        .col-9 {
            width: 75%;
            padding: 15px;
        }
        
        .col-10 {
            width: 83.33%;
            padding: 15px;
        }
        
        .col-11 {
            width: 91.66%;
            padding: 15px;
        }
        
        .col-12 {
            width: 100%;
            padding: 15px;
        }
    </style>
{% endblock %}