{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <div id="heading" class="invisible">
            <div id="menu-button" class="invisible">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="logo">
                LOGO
            </div>
            <div id="header-spacing"></div>
            <div id="contact-bar">
{#                contact: 111-222-333  &#9400; 2018 Marcin Krawczyk. All Rights Reserved.#}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="menu" class="invisible">
        </div>
        <div id="content" class="invisible">
            <div id="photos">
                {% if sessionPhotos is defined %}
                    {% for photo in sessionPhotos %}
                        <img src="{{ asset(photo.photoName, 'photographs') }}" class="invisible ex1Class ex2Class">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="footer" class="invisible">
            contact: 111-222-333  &#9400; 2018 Marcin Krawczyk. All Rights Reserved.
        </div>
     </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    
    {# common scripts and css #}
    <script src="{{ asset('build/app.js') }}"></script>
    
    {# page specific scripts #}
    <script src="{{ asset('build/homepage.js') }}"></script>
    
    
{#    REMOVE IT LATER!!!!! #}
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
            let windowWidth = window.innerWidth;
            let menuButton = document.getElementById("menu-button");  
            let photos = document.getElementById("photos");
            let content = document.getElementById("content");
            let footer = document.getElementById("footer");
            
            // initial configuration
            function init() {
                
                let heading = document.getElementById("heading");
                let menuButton = document.getElementById("menu-button");             
                let logo = document.getElementById("logo");
                let headerSpacing = document.getElementById("header-spacing");
                let contactBar = document.getElementById("contact-bar");
                let menu = document.getElementById("menu");
                
                if (windowWidth > 740) {
                    
                    // header
                    heading.classList.add("heading-normal");
                    heading.classList.remove("invisible");
                    
                    logo.classList.add("col-2");
                    headerSpacing.classList.add("col-1");
                    contactBar.classList.add("col-9");
                    
                    // content
                    menu.classList.add("col-2");
                    menu.classList.add("menu-config");
                    menu.classList.remove("invisible");
                    
                    pasteMenuContent(menu);
                    
                    content.classList.add("col-10");
                    content.classList.remove("invisible");
                    
                    footer.classList.remove("invisible");
                    
                    putPhotosToDivColumn(2);
                    
                } else {
                    
                    // header
                    heading.classList.add("heading-small");
                    heading.classList.remove("invisible");
                    
                    menuButton.classList.add("col-1");
                    menuButton.classList.remove("invisible");
                    logo.classList.add("col-2");
                    headerSpacing.classList.add("col-9");
                    contactBar.classList.add("invisible");
                    
                    // content
                    menu.classList.add("col-0");
                    
                    pasteMenuContent(menu);
                    
                    content.classList.add("col-12");
                    content.classList.remove("invisible");
                    
                    footer.classList.remove("invisible");
                    
                    putPhotosToDivColumn(1);
                }
            }
            init();

            // on resize browser window
            let onresize = function() {
                
                let heading = document.getElementById("heading");
                let headerSpacing = document.getElementById("header-spacing");
                let contactBar = document.getElementById("contact-bar");
                let windowWidth = window.innerWidth;
                let menu = document.getElementById("menu");
                let menuButton = document.getElementById("menu-button");
                let menuPop = document.getElementById("menu-pop");

                if (windowWidth > 740) {
                    
                    if (menuPop !== null) {

                        menuPop.remove();
                        content.classList.remove("invisible");
                        
                        menuButton.classList.remove("change");
                    }
                    
                    // header
                    if (String(heading.className.match(/heading-small/g)) === "heading-small") {
                        
                        heading.classList.remove("heading-small");
                        heading.classList.add("heading-normal");
                    }
                    
                    if (String(menuButton.className.match(/invisible/g)) !== "invisible") {
                        
                        menuButton.classList.add("invisible");
                        menuButton.classList.remove("col-1");
                    }
                    
                    if (String(headerSpacing.className.match(/col-9/g)) === "col-9") {
                        
                        headerSpacing.classList.remove("col-9");
                        headerSpacing.classList.add("col-1");
                    }
                    
                    if (String(contactBar.className.match(/invisible/g)) === "invisible") {
                        
                        contactBar.classList.remove("invisible");
                        contactBar.classList.add("col-9");
                    }
                      
                    // content
                    if (String(menu.className.match(/col-0/g)) === "col-0") {
                        
                        menu.classList.remove("col-0");
                        menu.classList.remove("invisible");
                    }
                    
                    if (String(menu.className.match(/col-12/g)) === "col-12") {
                        
                        menu.classList.remove("col-12");
                    }
                    
                    if (String(menu.className.match(/col-2/g)) !== "col-2") {
                        
                        menu.classList.add("col-2");
                    }
                    
                    if (String(menu.className.match(/menu-config/g)) !== "menu-config") {
                        
                        menu.classList.add("menu-config");
                    }
                    
                    if (String(content.className.match(/col-0/g)) === "col-0") {
                        
                        content.classList.remove("col-0");
                        content.classList.remove("invisible");
                    }
                    
                    if (String(content.className.match(/col-12/g)) === "col-12") {
                        
                        content.classList.remove("col-12");
                    }
                    
                    if (String(content.className.match(/col-10/g)) !== "col-10") {
                        
                        content.classList.add("col-10");
                    }
                    
                    if (document.getElementsByClassName("grid-box").length !== 2) {
                    
                        redistributePhotosToTwoDivColumns();
                    }
                    
                } else {
                    
                    //header
                    if (String(heading.className.match(/heading-normal/g)) === "heading-normal") {
                        
                        heading.classList.remove("heading-normal");
                        heading.classList.add("heading-small");
                    }
                    
                    if (String(menuButton.className.match(/invisible/g)) === "invisible") {
                        
                        menuButton.classList.remove("invisible");
                        menuButton.classList.add("col-1");
                    }
                    
                    if (String(headerSpacing.className.match(/col-1/g)) === "col-1") {
                        
                        headerSpacing.classList.remove("col-1");
                        headerSpacing.classList.add("col-9");
                    }
                    
                    if (String(contactBar.className.match(/col-9/g)) === "col-9") {
                        
                        contactBar.classList.remove("col-9");
                        contactBar.classList.add("col-0");
                        contactBar.classList.add("invisible");
                    }
                    
                    // content
                    if (String(menu.className.match(/col-2/g)) === "col-2") {
                        
                        menu.classList.remove("col-2");
                        menu.classList.remove("menu-config");
                        menu.classList.add("col-0");
                        menu.classList.add("invisible");

                        content.classList.remove("col-10");
                        content.classList.add("col-12");
                    }
                    
                    if (document.getElementsByClassName("grid-box").length !== 1) {
                    
                        redistributePhotosToOneDivColumn();
                    }
                }
            };
            window.addEventListener("resize", onresize);
            
            // click menu button event listener
            menuButton.addEventListener("click", function(){

                let container = document.getElementById("container");
                let content = document.getElementById("content");
                let menuPop = document.getElementById("menu-pop");
                
                if (menuPop === null) {
                    
                    menuButton.classList.add("change");

                    let menuPop = document.createElement('div');
                    menuPop.setAttribute('id', 'menu-pop');
                    menuPop.classList.add("m-open");
                    pasteMenuContent(menuPop);

                    container.append(menuPop);

                    content.classList.add("invisible");
                    
                } else {
                    
                    menuButton.classList.remove("change");

                    content.classList.remove("invisible");
                    menuPop.remove();
                }
            });
            
            function createFirstDivColumn() {
                
                let firstColumn = document.createElement('div');
                firstColumn.classList.add("first-column");
                firstColumn.classList.add("invisible");
                firstColumn.classList.add("grid-box");
                
                return firstColumn;
            }
            
            function createSecondDivColumn() {
                
                let secondColumn = document.createElement('div');
                secondColumn.classList.add("second-column");
                secondColumn.classList.add("invisible");
                secondColumn.classList.add("grid-box");
                
                return secondColumn;
            }
            
            function iterateAndGetPhotosFromContentDiv() {
                
                let children = Array.from(photos.childNodes);
                let photosArray = [];

                children.forEach(function(item){
                    
                    let itemClasses = String(item.className);
                    let classArray = itemClasses.split(" ");

                    for (let i = 0; i < classArray.length; i++) {

                        if (classArray[i] === "invisible") {

                            item.classList.remove("invisible");
                            photosArray.push(item);
                        }
                    }
                });
                
                return photosArray;
            }
            
            function putPhotosToDivColumn(amount) {
                
                if (amount === 1) {
                    
                    let firstColumn = createFirstDivColumn();
                    
                    let photosArray = iterateAndGetPhotosFromContentDiv();
                    
                    photosArray.forEach(function(item) {

                        firstColumn.appendChild(item);
                    });
                    
                    firstColumn.style.width = "100%";
                    firstColumn.classList.remove("invisible");
                    
                    photos.appendChild(firstColumn);
                    
                } else if (amount === 2) {
                    
                    let firstColumn = createFirstDivColumn();
                    let secondColumn = createSecondDivColumn();
                    
                    let photosArray = iterateAndGetPhotosFromContentDiv();
                    
                    photosArray.forEach(function(item, iterator) {
                    
                        if (iterator % 2 === 0) {

                            firstColumn.appendChild(item);

                        } else {

                            secondColumn.appendChild(item);
                        }
                    });
                    
                    photos.appendChild(firstColumn);
                    photos.appendChild(secondColumn);
                    
                    firstColumn.classList.remove("invisible");
                    secondColumn.classList.remove("invisible");
                }
            }
            
            function countPhotosInDivColumn(column) {
                  
                let children = Array.from(column.childNodes);
                let counter = 0;
                
                children.forEach(function(item){

                    if(item.constructor.name !== "Text") {

                        counter ++;
                    }
                });
                
                return counter;
            }
            
            function getPhotosFromDivColumn(column) {
                  
                let children = Array.from(column.childNodes);
                let photosArray = [];
                
                children.forEach(function(item){

                    if(item.constructor.name !== "Text") {

                        photosArray.push(item);
                    }
                });
                
                return photosArray;
            }   
            
            function redistributePhotosToOneDivColumn() {
                
                let firstColumn = document.getElementsByClassName("first-column");
                let secondColumn = document.getElementsByClassName("second-column");
                                
                let firstColumnCount = countPhotosInDivColumn(firstColumn[0]);
                let secondColumnCount = countPhotosInDivColumn(secondColumn[0]);
                                
                let firstColumnPhotos = getPhotosFromDivColumn(firstColumn[0]);
                let secondColumnPhotos = getPhotosFromDivColumn(secondColumn[0]);
                
                let iterationNumber = Math.max(
                    firstColumnCount, 
                    secondColumnCount
                );
                
                let photosArray = [];
                
                for (var i = 0; i < iterationNumber; i++) {
                
                    if (i < firstColumnCount) {
                        
                        photosArray.push(firstColumnPhotos[i]);
                    }
                    
                    if (i < secondColumnCount) {
                        
                        photosArray.push(secondColumnPhotos[i]);
                    }
                }
                
                firstColumn[0].remove();
                secondColumn[0].remove();
                
                let newFirstColumn = createFirstDivColumn();
                
                photosArray.forEach(function(item) {

                    newFirstColumn.appendChild(item);
                });
                
                photos.appendChild(newFirstColumn);
                newFirstColumn.style.width = "100%";
                newFirstColumn.classList.remove("invisible");
            }
            
            function redistributePhotosToTwoDivColumns() {
                
                let firstColumn = document.getElementsByClassName("first-column");
                
                let photosArray = getPhotosFromDivColumn(firstColumn[0]);
                
                let newFirstColumn = createFirstDivColumn();
                let secondColumn = createSecondDivColumn();
                
                for (var i = 0; i < photosArray.length; i++) {
                
                    if (i % 2 === 0) {
                        
                        newFirstColumn.appendChild(photosArray[i]);
                    }
                    
                    if (i % 2 !== 0) {
                        
                        secondColumn.appendChild(photosArray[i]);
                    }
                }
                
                firstColumn[0].remove();
                
                photos.appendChild(newFirstColumn);
                photos.appendChild(secondColumn);
                
                newFirstColumn.classList.remove("invisible");
                secondColumn.classList.remove("invisible");
            }
    
            function createAndPasteMenuList(params, anchor) {
                
                let menuList = document.createElement('div');
                menuList.setAttribute('id', 'menu-list');
                    
                let sessionHeader = document.createElement('p');
                
                let aTagSessions = document.createElement('a');
                aTagSessions.setAttribute('href', '/');
                aTagSessions.innerHTML = "Sessions";
                
                sessionHeader.appendChild(aTagSessions);
                menuList.appendChild(sessionHeader);
                
                let sessionUnorderedList = document.createElement('ul');
                sessionUnorderedList.setAttribute('id', 'sessions');
                
                for (var i = 0; i < params.length; i++) {
                    
                    let sessionListElement = document.createElement('li');
                    sessionListElement.innerHTML = params[i];
                    
                    sessionUnorderedList.appendChild(sessionListElement);
                }
                
                menuList.appendChild(sessionUnorderedList);
                
                let about = document.createElement('p');
                
                let aTagAbout = document.createElement('a');
                aTagAbout.setAttribute('href', '/about');
                aTagAbout.innerHTML = "About";
                
                about.appendChild(aTagAbout);
                menuList.appendChild(about);
                
                let contact = document.createElement('p');
                
                let aTagContact = document.createElement('a');
                aTagContact.setAttribute('href', '/contact');
                aTagContact.innerHTML = "Contact";
                
                contact.appendChild(aTagContact);
                menuList.appendChild(contact);
                
                let socialsUl = document.createElement('ul');
                socialsUl.setAttribute('id', 'socials');
                
                let facebookLiTag = document.createElement('li');
                // add href to fb page
                let facebookATag = document.createElement('a');
                let facebookITag = document.createElement('i');
                
                facebookITag.setAttribute('id', 'facebook');
                facebookITag.classList.add("fa");
                facebookITag.classList.add("fa-facebook");
                
                facebookATag.appendChild(facebookITag);
                facebookLiTag.appendChild(facebookATag);
                
                socialsUl.appendChild(facebookLiTag);
                
                let instagramLiTag = document.createElement('li');
                // add href to instagram page
                let instagramATag = document.createElement('a');
                let instagramITag = document.createElement('i');
                
                instagramITag.setAttribute('id', 'instagram');
                instagramITag.classList.add("fa");
                instagramITag.classList.add("fa-instagram");
                
                instagramATag.appendChild(instagramITag);
                instagramLiTag.appendChild(instagramATag);
                
                socialsUl.appendChild(instagramLiTag);
                
                menuList.appendChild(socialsUl);
                
                anchor.append(menuList);
            }
            
            async function getMenuList(url, anchor) {
                const response = await fetch(url);
                const json = await response.json();
                const listOfSessions = json.map(session => session.name);

                createAndPasteMenuList(listOfSessions, anchor);
            }
            
            function pasteMenuContent(anchor) {
                
                // TO CHANGE AFTER DEPLOY
                let url = "http://localhost:8000/get-sessions";
            
                getMenuList(url, anchor);
            }
                    
            function createAndPasteSessionPhotos(params) {
                
                for (var i = 0; i < params.length; i++) {
                    
                    let imageElement = document.createElement('img');
                    imageElement.classList.add("invisible");
                    imageElement.src = '/uploads/photographs/' + params[i];
                    
                    photos.appendChild(imageElement);
                }
            }              
            
            async function getPhotos(sessionName) {
                
                // TO CHANGE AFTER DEPLOY
                let url = "http://localhost:8000/get-photos";
                
                const data = {
                    sessionName: sessionName
                };

                const options = {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };

                const response = await fetch(url, options);
                const photosNames = await response.json();
                
                createAndPasteSessionPhotos(photosNames);
            }
            
            // right mouse click
            document.addEventListener('contextmenu', function(event) {
                
                // block right button mouse click
                
                // enable it before deploy !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        //        event.preventDefault();
            });
            
            document.addEventListener('click', function(event) {
                
                let container = document.getElementById("container");
                let popBackground = document.getElementById("photo-pop-backgorund");
                let popBox = document.getElementById("photo-box");
                let menuPop = document.getElementById("menu-pop");

                if (event.target.nodeName === "LI" && event.target.parentElement.id === "sessions") {
                    
                    footer.classList.add("invisible");
                        
                    let sessionName = event.target.innerHTML;
                    
                    getPhotos(sessionName);                
                
                    $("#photos").fadeOut("slow", function() {

                        for (let i = 1; i <= 2; i++) {
                            
                            $('#photos').find('div').first().remove();
                        }
                    });  
                    
                    $("#photos").fadeIn("fast", function() {
                               
                        if (windowWidth > 740) {

                            putPhotosToDivColumn(2);

                        } else {

                            putPhotosToDivColumn(1);
                        }
                        
                        footer.classList.remove("invisible");
                    });
                               
                    if (menuPop) {
                        
                        menuButton.classList.remove("change");

                        content.classList.remove("invisible");
                        menuPop.remove();
                    }
                }
                
                if(event.target.nodeName === "IMG" && !popBox) {
                    
                    event.preventDefault();
                            
                    let photoPopBackground = document.createElement('div');
                    photoPopBackground.setAttribute('id', 'photo-pop-backgorund');
                    
                    let photoBox = document.createElement('div');
                    photoBox.setAttribute('id', 'photo-box');
                    
                    let img = event.target.outerHTML;
                    img = img.substr(10, img.length - 12);
                    
                    let imgElement = document.createElement('img');
                    imgElement.setAttribute('src', img);
                    
                    photoBox.appendChild(imgElement);
                    
                    photoPopBackground.appendChild(photoBox);
                    
                    container.appendChild(photoPopBackground);
                    document.body.classList.add("noscroll");
                }
                
                if (event.target.id === "photo-pop-backgorund") {
                                       
                    popBackground.remove();
                    document.body.classList.remove("noscroll");
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/homepage_style.css') }}"/>
    
    <style>
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #060f1c;
            color: white;
            font-family: source sans pro, helvetica neue, Arial, sans-serif;
        }
        
        #container {

        
        }
        
        img {
            max-width: 100%;
            max-height: 100%;
        }

        .grid-box {
            width: 50%;
            float: left;
            padding: 2px;
        }
        
        #heading {
            
        }
        
        #menu-button {
            display: inline-block;
            cursor: pointer;
            margin-left: 4px; 
            padding: 0px;
            float: left;
        }
        
        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
        }
        
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {opacity: 0;}

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        
        #logo {
            padding: 0px;
            height: 60px;
            float: left;
        }
        
        #header-spacing {
            float: left;
        }
        
        #contact-bar {
            text-align: right;
            float: left;
        }
        
        .heading-normal {
            height: 110px;
        }
        
        .heading-small {
            height: 60px;
        }
        
        #content {
            height: auto;
            float: left;
        }
    
        #menu {
            float: left;
        }
        
        .menu-config {
            height: 800px;
            font-size: 18px;
            line-height: 25px;
        }
        
        #menu-list > p {
            font-weight: bold;
        }
        
        ul#sessions > li {
            cursor: pointer;
        } 
        
        ul#socials {
            display: flex;
        }
        
        ul#socials > li {
            cursor: pointer;
            list-style: none;
            display: flex;
        }
        
        ul#socials > li > a {
            display: block;
            width: 30px;
            height: 30px;
            background: #060f1c;
            text-align: center;
            line-height: 80px;
            font-size: 24px;
            margin: 0 10px;
        }
        
        i#facebook:hover {
            color: #3b5998
        }
        
        i#instagram:hover {
            color: #e95950
        }
        
        p > a {
            text-decoration: none;
        }
        
        #sessions {
            padding-left: 13px;
            list-style-type: none;
        }
        
        .m-open {
            position: absolute;
            padding: 60px 30px;
            z-index: 1;
            width: 100%;
            height: 1000px;
            left: 0px;
            top: 60px;
            font-size: 20px;
        }
        
        #photos {
            padding-bottom: 20px;
        }
        
        #photo-pop-backgorund {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        
        #photo-box {       
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        body.noscroll {
            position: fixed;
            overflow-y: scroll;
            width: 100%;
        }
        
        .invisible {
            visibility: hidden;
            height: 0px;
        }
        
        #footer {
            text-align: right;
            padding: 0 20px 0 20px;
        }
        
        .col-0 {
            width: 0%;
        }
        
        .col-1 {
            width: 8.33%;
            padding: 15px;
        }
        
        .col-2 {
            width: 16.66%;
            padding: 15px;
        }
        
        .col-3 {
            width: 25%;
            padding: 15px;
        }
        
        .col-4 {
            width: 33.33%;
            padding: 15px;
        }
        
        .col-5 {
            width: 41.66%;
            padding: 15px;
        }
        
        .col-6 {
            width: 50%;
            padding: 15px;
        }
        
        .col-7 {
            width: 58.33%;
            padding: 15px;
        }
        
        .col-8 {
            width: 66.66%;
            padding: 15px;
        }
        
        .col-9 {
            width: 75%;
            padding: 15px;
        }
        
        .col-10 {
            width: 83.33%;
            padding: 15px;
        }
        
        .col-11 {
            width: 91.66%;
            padding: 15px;
        }
        
        .col-12 {
            width: 100%;
            padding: 15px;
        }
    </style>
{% endblock %}